
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

        <div class="house-block">
            <div class="card house">
                <img class="card-img-top img-fluid" src="https://www.pufikhomes.com/wp-content/uploads/2019/12/idealnyi-dom-2019-po-versii-house-beautiful-pufikhomes-1a.jpg" alt="Card image">
                <div class="card-body">
                    <h1 class="card-title display-4">John Doe</h1>
                    <p class="card-text lead">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                        'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                        model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
                        sometimes on purpose (injected humour and the like).
                    </p>


                    <div class="list-group house-info">
                        <p href="#" class="list-group-item list-group-item-action">
                            Название: Дом у озера Кейптаун
                        </p>
                        <p href="#" class="list-group-item list-group-item-action">Тип: <span class="badge badge-primary">Жилой дом</span></p>
                        <p href="#" class="list-group-item list-group-item-action">Улица: <span class="badge badge-warning">ул. Пушкина 22/7</span></p>
                        <p href="#" class="list-group-item list-group-item-action">Количество жителей: <span class="badge badge-info">228</span></p>
                    </div>

                    <div class="house-seller">
                        <div class="card">
                            <div class="card-header">
                                Продавец дома
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Роман Кушнарев</h5>
                                <p class="card-text">Электронная почта: <span class="badge badge-primary">ramzes666@gmail.com</span></p>
                                <p class="card-text">Мобильный номер: <span class="badge badge-success">+7 (705)-115-23-66</span>.</p>
                                <a href="#" class="btn d-inline btn-info">Связаться</a>
                            </div>
                        </div>
                    </div>


                    <div class="comments">
                        <div class="comments-list">
                            <div class="media row">
                                <div class="col-md-2">
                                    <p class="pull-right"><small>5 days ago</small></p>
                                    <a class="media-left" href="#">
                                        <img src="http://lorempixel.com/40/40/people/1/">
                                    </a>
                                </div>
                                <div class="media-body col-md-10">

                                    <h4 class="media-heading user_name">Baltej Singh</h4>
                                    <p class="comment-text">
                                        Trash ebannyy suka blyat
                                    </p>
                                </div>
                            </div>
                            <div class="media row">
                                <div class="col-md-2">
                                    <p class="pull-right"><small>5 days ago</small></p>
                                    <a class="media-left" href="#">
                                        <img src="http://lorempixel.com/40/40/people/2/">
                                    </a>
                                </div>
                                <div class="media-body col-md-10">

                                    <h4 class="media-heading user_name">Baltej Singh</h4>
                                    <p class="comment-text">
                                        Trash ebannyy suka blyat
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

