@using WebMaze.Models.Department

@model HealthDepartmentViewModel

<head>
     <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    @*<title>Министерство здравоохранения</title> название во вкладке*@
    @*<link rel="" type="" href=""/> маленький значок картинки во вкладке*@
</head>

<body class="healthDepartment">
    <h1>
        Министерство здравоохранения
    </h1>
    <div class="container">
        <nav>
            <ul class="menu">
                <li class="drop">
                    <a class="item" href="">Горячая линия</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Горячая линия</a>
                        </li>
                    </ul>
                </li>
                <li class="drop">
                    <a class="item" href="">Новости</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Новости здравоохранения</a>
                        </li>
                    </ul>
                </li>
                <li class="drop">
                    <a class="item" href="">Министерство</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Структура</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Подведомственные организации</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Закупки</a>
                        </li>
                    </ul>
                </li>
                <li class="drop">
                    <a class="item" href="">Общественная приёмная</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Справочная система</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">О персональной информации пользователей</a>
                        </li>
                    </ul>
                </li>
                <li class="drop">
                    <a class="item" href="">Мероприятия</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Все мероприятия</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Предстоящие мероприятия</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Прошедшие мероприятия</a>
                        </li>
                    </ul>
                </li>
                <li class="drop">
                    <a class="item" href="">Контакты</a>
                    <ul class="submenu">
                        <li class="drop">
                            <a class="item" href="">Справочные телефоны, адрес и схема проезда</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Контакты для СМИ</a>
                        </li>
                        <li class="drop">
                            <a class="item" href="">Контакты по вопросам замещения вакантных должностей</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Список поликлиник</h5>
                    <p class="card-text">Здксь вы можете просмотреть список доступных поликлиник</p>
                    <a href="#" class="btn btn-primary">Переход на список поликлиник</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Управленцы</h5>
                    <p class="card-text">Узнать все о управленцах</p>
                    <a href="#" class="btn btn-primary">Переход к списку управленцев</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">НОвости</h5>
                    <p class="card-text">Узнай какая хуйня случилась</p>
                    <a href="#" class="btn btn-primary">Переход на хуйню</a>
                </div>
            </div>
     </div>
       
    <div class="container">
        <div class="fotorama" data-nav="thumbs" data-transition="crossfade" data-autoplay="true">
            <img src="~/image/Mochalkin/Aurentum.jpg">
            <img src="~/image/Mochalkin/Desvall.jpg">
        </div>
    </div>



</body>

